# Areas of Interest

ArcGIS Pro has been used to create rectangular polygon features around areas of interest, which will be used to reduce the computation of satellite data and other sources.

This notebook simply converts these features from vertices in a CSV file to a dictionary of values that can be used for the `bbox` parameter of `hda` when querying EO data.

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('AOIs.csv', header=None)

In [34]:
df.head()

          0          1      2  3
0 -5.221344  49.990184  30UUA  2
1 -5.224443  50.286487  30UUA  2
2 -4.885354  50.290033  30UUA  2
3 -4.882255  49.993731  30UUA  2
4 -5.221344  49.990184  30UUA  2

Each polygon has a unique value in column 3.

In [16]:
df[3].unique()

array([ 2,  3,  4,  6,  9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22,
       23, 24, 25, 26, 27, 28])

In [42]:
df[df[3]==2]

          0          1      2  3
0 -5.221344  49.990184  30UUA  2
1 -5.224443  50.286487  30UUA  2
2 -4.885354  50.290033  30UUA  2
3 -4.882255  49.993731  30UUA  2
4 -5.221344  49.990184  30UUA  2

We need the extremes of latitude and longitude for each polygon. The result can then be used for the `bbox` parameter.

In [18]:
[
    df[df[3]==2][0].min(),
    df[df[3]==2][1].min(),
    df[df[3]==2][0].max(),
    df[df[3]==2][1].max()
]

[-5.22444257, 49.9901843, -4.88225479, 50.29003327]

In [19]:
def poly_to_bbox(p):
    return [
        df[df[3]==p][0].min(),
        df[df[3]==p][1].min(),
        df[df[3]==p][0].max(),
        df[df[3]==p][1].max()
    ]

We also need the tile_Id from column 2.

In [26]:
df[df[3]==2][2][0]

'30UUA'

In [47]:
poly_dict = {str(p): {'bbox': poly_to_bbox(p), 'tile_Id': df[df[3]==p][2].iloc[0]} for p in df[3].unique()}

Save as JSON

In [48]:
import json

In [49]:
with open('AOIs.txt', 'w') as fp:
    json.dump(poly_dict, fp)