# Areas of Interest

ArcGIS Pro has been used to create rectangular polygon features around areas of interest, which will be used to reduce the computation of satellite data and other sources.

This notebook simply converts these features from vertices in a CSV file to a dictionary of values that can be used for the `geoRegion` parameter of the Subset node of a SNAP graph. Edges are corrected to be exactly vertical or exactly horizontal to improve efficiency.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('AOIs.csv', header=None)

In [4]:
df.head()

          0          1      2  3
0 -5.221344  49.990184  30UUA  2
1 -5.224443  50.286487  30UUA  2
2 -4.885354  50.290033  30UUA  2
3 -4.882255  49.993731  30UUA  2
4 -5.221344  49.990184  30UUA  2

Each polygon has a unique value in column 3.

In [5]:
df[3].unique()

array([ 2,  3,  4,  6,  9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22,
       23, 24, 25, 26, 27, 28])

In [6]:
df[df[3]==2]

          0          1      2  3
0 -5.221344  49.990184  30UUA  2
1 -5.224443  50.286487  30UUA  2
2 -4.885354  50.290033  30UUA  2
3 -4.882255  49.993731  30UUA  2
4 -5.221344  49.990184  30UUA  2

We need the extremes of longitude and latitude for each polygon.

In [7]:
[
    df[df[3]==2][0].min(),
    df[df[3]==2][1].min(),
    df[df[3]==2][0].max(),
    df[df[3]==2][1].max()
]

[-5.22444257, 49.9901843, -4.88225479, 50.29003327]

In [8]:
bbox = [
    df[df[3]==2][0].min(),
    df[df[3]==2][1].min(),
    df[df[3]==2][0].max(),
    df[df[3]==2][1].max()
]

Then we get the vertices of our `geoRegion`.

In [14]:
f"POLYGON (({bbox[0]} {bbox[1]}, {bbox[2]} {bbox[1]}, {bbox[2]} {bbox[3]}, {bbox[0]} {bbox[3]}, {bbox[0]} {bbox[1]}))"

'POLYGON ((-5.22444257 49.9901843, -4.88225479 49.9901843, -4.88225479 50.29003327, -5.22444257 50.29003327, -5.22444257 49.9901843))'

In [15]:
def poly_to_geoRegion(p):
    bbox = [
        df[df[3]==p][0].min(),
        df[df[3]==p][1].min(),
        df[df[3]==p][0].max(),
        df[df[3]==p][1].max()
    ]
    return f"POLYGON (({bbox[0]} {bbox[1]}, {bbox[2]} {bbox[1]}, {bbox[2]} {bbox[3]}, {bbox[0]} {bbox[3]}, {bbox[0]} {bbox[1]}))"

We also need the tile_Id from column 2.

In [16]:
df[df[3]==2][2][0]

'30UUA'

In [21]:
poly_dict = {str(p): {'geoRegion': poly_to_geoRegion(p), 'tile_Id': df[df[3]==p][2].iloc[0]} for p in df[3].unique()}

In [22]:
poly_dict

{'2': {'geoRegion': 'POLYGON ((-5.22444257 49.9901843, -4.88225479 49.9901843, -4.88225479 50.29003327, -5.22444257 50.29003327, -5.22444257 49.9901843))',
  'tile_Id': '30UUA'},
 '3': {'geoRegion': 'POLYGON ((-4.81917128 50.19269224, -4.59558622 50.19269224, -4.59558622 50.40467681, -4.81917128 50.40467681, -4.81917128 50.19269224))',
  'tile_Id': '30UUA'},
 '4': {'geoRegion': 'POLYGON ((-4.32949749 50.26538565, -4.02885352 50.26538565, -4.02885352 50.5075424, -4.32949749 50.5075424, -4.32949749 50.26538565))',
  'tile_Id': '30UVA'},
 '6': {'geoRegion': 'POLYGON ((-4.02836874 50.14143345, -3.59050258 50.14143345, -3.59050258 50.34954708, -4.02836874 50.34954708, -4.02836874 50.14143345))',
  'tile_Id': '30UVA'},
 '9': {'geoRegion': 'POLYGON ((-3.70217003 50.32171356, -3.4070158 50.32171356, -3.4070158 50.54736093, -3.70217003 50.54736093, -3.70217003 50.32171356))',
  'tile_Id': '30UVA'},
 '11': {'geoRegion': 'POLYGON ((-4.42178593 50.96017888, -3.80799343 50.96017888, -3.80799343 51.4427289, -4.42178593 51.4427289, -4.42178593 50.96017888))',
  'tile_Id': '30UVB'},
 '12': {'geoRegion': 'POLYGON ((-3.50331426 50.55463065, -3.27987264 50.55463065, -3.27987264 50.71209921, -3.50331426 50.71209921, -3.50331426 50.55463065))',
  'tile_Id': '30UVB'},
 '13': {'geoRegion': 'POLYGON ((-2.09595764 50.55849793, -1.71524861 50.55849793, -1.71524861 50.75094301, -2.09595764 50.75094301, -2.09595764 50.55849793))',
  'tile_Id': '30UWB'},
 '14': {'geoRegion': 'POLYGON ((-1.58556407 50.54458557, -0.64846788 50.54458557, -0.64846788 50.95668855, -1.58556407 50.95668855, -1.58556407 50.54458557))',
  'tile_Id': '30UXB'},
 '15': {'geoRegion': 'POLYGON ((-2.99680783 51.4583999, -2.60709778 51.4583999, -2.60709778 51.69910317, -2.99680783 51.69910317, -2.99680783 51.4583999))',
  'tile_Id': '30UWC'},
 '16': {'geoRegion': 'POLYGON ((-2.60528065 50.55348792, -2.12042715 50.55348792, -2.12042715 50.6553193, -2.60528065 50.6553193, -2.60528065 50.55348792))',
  'tile_Id': '30UWB'},
 '17': {'geoRegion': 'POLYGON ((-6.48086707 49.81301712, -6.21948222 49.81301712, -6.21948222 50.02839047, -6.48086707 50.02839047, -6.48086707 49.81301712))',
  'tile_Id': '29UPR'},
 '18': {'geoRegion': 'POLYGON ((-5.80439836 51.49305133, -4.45149348 51.49305133, -4.45149348 52.32141647, -5.80439836 52.32141647, -5.80439836 51.49305133))',
  'tile_Id': '30UUC'},
 '19': {'geoRegion': 'POLYGON ((-4.44365223 51.49681989, -3.86086484 51.49681989, -3.86086484 51.82236179, -4.44365223 51.82236179, -4.44365223 51.49681989))',
  'tile_Id': '30UVC'},
 '20': {'geoRegion': 'POLYGON ((-5.7897289 49.9734232, -5.3357743 49.9734232, -5.3357743 50.27582106, -5.7897289 50.27582106, -5.7897289 49.9734232))',
  'tile_Id': '30UUA'},
 '21': {'geoRegion': 'POLYGON ((1.10125436 50.94732407, 1.55028195 50.94732407, 1.55028195 51.43096547, 1.10125436 51.43096547, 1.10125436 50.94732407))',
  'tile_Id': '31UCS'},
 '22': {'geoRegion': 'POLYGON ((0.43671218 51.28184468, 1.02698637 51.28184468, 1.02698637 51.43623009, 0.43671218 51.43623009, 0.43671218 51.28184468))',
  'tile_Id': '31UCS'},
 '23': {'geoRegion': 'POLYGON ((0.52676637 51.46052368, 0.99557138 51.46052368, 0.99557138 51.79250276, 0.52676637 51.79250276, 0.52676637 51.46052368))',
  'tile_Id': '31UCT'},
 '24': {'geoRegion': 'POLYGON ((0.84043954 51.69085094, 1.54449944 51.69085094, 1.54449944 52.18611236, 0.84043954 52.18611236, 0.84043954 51.69085094))',
  'tile_Id': '31UCT'},
 '25': {'geoRegion': 'POLYGON ((0.02418999 52.76712205, 0.61684464 52.76712205, 0.61684464 53.22302955, 0.02418999 53.22302955, 0.02418999 52.76712205))',
  'tile_Id': '31UCU'},
 '26': {'geoRegion': 'POLYGON ((-0.89918315 53.47242848, -0.00824939 53.47242848, -0.00824939 53.83742637, -0.89918315 53.83742637, -0.89918315 53.47242848))',
  'tile_Id': '30UXE'},
 '27': {'geoRegion': 'POLYGON ((-4.47852073 52.34372453, -3.87976363 52.34372453, -3.87976363 53.04664288, -4.47852073 53.04664288, -4.47852073 52.34372453))',
  'tile_Id': '30UVD'},
 '28': {'geoRegion': 'POLYGON ((-4.85333229 52.67694745, -4.48515088 52.67694745, -4.48515088 53.09334198, -4.85333229 53.09334198, -4.85333229 52.67694745))',
  'tile_Id': '30UUD'}}

Save as JSON

In [23]:
import json

In [24]:
with open('AOIs.txt', 'w') as fp:
    json.dump(poly_dict, fp)